.main-grid img {
  height: 15vh;
}

nav {
  z-index: 1;
  position: fixed;
}

.row.space {
  height: 100px;
}

.container {
  height: 1000vh;
}

h1 {
  font-size: 5vw;
}

h3 {
  font-size: 3vw;
}

@media screen and (max-width: 800px) {
  .main-grid img {
    height: auto;
    width: 100%;
  }
}
